# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv('output_data/CSV/cities.csv')
cities

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Kavieng,0,PG,1589961033,80,-2.57,150.80,301.66,6.62
1,1,Cape Town,95,ZA,1589961037,72,-33.93,18.42,291.48,1.50
2,2,Saskylakh,100,RU,1589961039,97,71.92,114.08,275.52,3.38
3,3,Romhány,100,HU,1589961040,67,47.93,19.26,293.15,1.03
4,4,Albany,100,US,1589960763,54,42.60,-73.97,283.71,0.31
...,...,...,...,...,...,...,...,...,...,...
559,559,Vostok,87,RU,1589961737,31,46.49,135.88,289.34,3.59
560,560,Kavaratti,75,IN,1589961077,83,10.57,72.64,302.15,1.50
561,561,Collie,7,AU,1589961739,36,-33.37,116.15,290.93,2.67
562,562,Forsytheganj,81,BY,1589961418,83,52.63,29.73,282.85,5.58
563,563,Blyznyuky,99,UA,1589961741,86,48.86,36.56,288.02,4.49

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Using the Lat and Lng as locations
locations = cities[["Lat", "Lng"]].astype(float)

# Using Humidity
humidity= cities['Humidity'].astype(float)

# Removing Null Cells
cities = cities.dropna()

In [4]:
# Setting the layout for the map
figure_layout = {
    'width': '1200px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

# Setting the fig and adding the center point for zoom of the map
fig = gmaps.figure(layout=figure_layout, center = (42,-42), zoom_level= 3)

# Creating Heat Layer on the map based on Locations and Humidity
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

# Displaying the Fig
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrowing Down the DataFrame based on some criteria:
# 280 F < Max Temp < 300 F
# Wind Speed < 1 mph
# Cloudiness = 0 %
weather_criteria_df = cities [(cities['Max Temp']<300) & (cities['Max Temp']>280) & (cities['Wind Speed']<1) & (cities['Cloudiness']==0)]

# Removing Null Cells
weather_criteria_df.dropna()

# Saving the DataFrame to a CSV
weather_criteria_df.to_csv('output_data/CSV/Weather Criteria DF.csv', header = True, index = False)

# Displaying the DataFrame
weather_criteria_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
21,21,Dębno,0,PL,1589961066,58,52.74,14.70,289.82,0.89
79,79,Ures,0,MX,1589961137,37,29.43,-110.40,294.26,0.45
100,100,Port Alfred,0,ZA,1589961084,72,-33.59,26.89,291.48,0.45
113,113,Saldanha,0,ZA,1589961177,81,-33.01,17.94,284.15,0.50
237,237,Xai-Xai,0,MZ,1589961339,59,-25.05,33.64,298.47,0.68
424,424,Lata,0,PT,1589961500,86,40.16,-8.33,290.37,0.89
484,484,Muros,0,ES,1589961644,81,42.78,-9.06,289.82,0.45

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Creating a new DataFrame based on City, Country, Lat and Lng Columns
hotel_df = weather_criteria_df[['City', 'Country', 'Lat', 'Lng']]

# Setting Lat and Lng as Locations
location = hotel_df[['Lat', 'Lng']]

# Creating empty columns as Hotel Name and Hotel Lat and Lng for showing the accurate Location of the hotel on the map
hotel_df['Hotel Name']= ""
hotel_df['Hotel_Lat']= ""
hotel_df['Hotel_Lng']= ""

# Displaying the DataFrame
hotel_df

C:\ProgramData\Anaconda30\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda30\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda30\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

            City Country    Lat     Lng Hotel Name Hotel_Lat Hotel_Lng
21         Dębno      PL  52.74   14.70
79          Ures      MX  29.43 -110.40
100  Port Alfred      ZA -33.59   26.89
113     Saldanha      ZA -33.01   17.94
237      Xai-Xai      MZ -25.05   33.64
424         Lata      PT  40.16   -8.33
484        Muros      ES  42.78   -9.06

In [7]:
# Setting the base_url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Setting the parameters for searching the nearest Hotel in 5000 meter of the Locations
params = {
    "radius": 5000,
    "type": "hotel",
    "key": g_key
}

# uUsing iterrows to iterate through pandas DataFrame
for index, row in hotel_df.iterrows():

    lat = row["Lat"]
    lng = row["Lng"]

    # Changing location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
   
    # Requesting the URL 
    response = requests.get(base_url, params=params).json()
   
    
    results = response['results']

    
    try:
        print(f"Hotel {results[0]['name']} is the first hotel in {row['City']}, {row['Country']}.")
        
        # Filling the Hotel Name, Hotel_Lat and Hotel_Lng columns of the DataFrame with earned Info
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        hotel_df.loc[index, 'Hotel_Lat'] = results[0]['geometry']['location']['lat']
        hotel_df.loc[index, 'Hotel_Lng'] = results[0]['geometry']['location']['lng']
   

    # Printing Missing Info when there weren't any result   
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("********************")

Hotel Debno is the first hotel in Dębno, PL.
********************

C:\ProgramData\Anaconda30\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Hotel Ures is the first hotel in Ures, MX.
********************
Hotel Port Alfred is the first hotel in Port Alfred, ZA.
********************
Hotel Saldanha is the first hotel in Saldanha, ZA.
********************
Hotel Xai-Xai District is the first hotel in Xai-Xai, MZ.
********************
Hotel Coimbra is the first hotel in Lata, PT.
********************
Hotel Muros is the first hotel in Muros, ES.
********************

In [8]:
# Displaying the DataFrame to be show that columns are filled
hotel_df

            City Country    Lat     Lng        Hotel Name Hotel_Lat Hotel_Lng
21         Dębno      PL  52.74   14.70             Debno    52.739    14.698
79          Ures      MX  29.43 -110.40              Ures    29.426  -110.386
100  Port Alfred      ZA -33.59   26.89       Port Alfred  -33.5864   26.8851
113     Saldanha      ZA -33.01   17.94          Saldanha  -33.0277   17.9176
237      Xai-Xai      MZ -25.05   33.64  Xai-Xai District  -25.0605   33.6959
424         Lata      PT  40.16   -8.33           Coimbra   40.2033  -8.41026
484        Muros      ES  42.78   -9.06             Muros   42.7746  -9.05786

In [9]:
# Removing Null Cells
# As it couldn't find the null cells by Dropna, I had to set the non_values to Float instead of Objects and then replace them and finally use Dropna
nan_value=float("Nan")
hotel_df.replace("",nan_value, inplace = True)
hotel_df.dropna(subset = ['Hotel Name'] , inplace = True)

# Displaying the final DataFrame after removing Null Cells
hotel_df

C:\ProgramData\Anaconda30\lib\site-packages\pandas\core\frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
C:\ProgramData\Anaconda30\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

            City Country    Lat     Lng        Hotel Name Hotel_Lat Hotel_Lng
21         Dębno      PL  52.74   14.70             Debno    52.739    14.698
79          Ures      MX  29.43 -110.40              Ures    29.426  -110.386
100  Port Alfred      ZA -33.59   26.89       Port Alfred  -33.5864   26.8851
113     Saldanha      ZA -33.01   17.94          Saldanha  -33.0277   17.9176
237      Xai-Xai      MZ -25.05   33.64  Xai-Xai District  -25.0605   33.6959
424         Lata      PT  40.16   -8.33           Coimbra   40.2033  -8.41026
484        Muros      ES  42.78   -9.06             Muros   42.7746  -9.05786

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name: </dt><dd>{Hotel Name}</dd>
<dt>City: </dt><dd>{City}</dd>
<dt>Country: </dt><dd>{Country}</dd>
</dl>
"""

# Saving the DataFrame to a CSV
hotel_df.to_csv('output_data/CSV/Hotel_DF.csv', header = True, index = False)

# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Setting the Hotel_Lat and Hotel_Lng as Locations for accurate Marker Location on the map
locations = hotel_df[["Hotel_Lat", "Hotel_Lng"]]

In [11]:
# Setting the Fig
fig = gmaps.figure(layout=figure_layout, center = (42,-42), zoom_level= 2)

# Creating Markers based on the Locations and with the info box of Hotel Name, Lat and Lng
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)

# Adding marker layer ontop of heat map
fig.add_layer(heat_layer)
fig.add_layer(markers)


# Displaying Map
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…